.header-app{
  background: #333A65;
  display: flex;
  align-items: center;
  .navbar-brand{
    padding-top: 0;
    padding-bottom: 0;
  }
  .logo-content{
    img{
      max-height: 24px;
    }
  }
  .navbar{
      padding:  0;
      .navbar-nav{
        .nav-item{
          display: flex;
          align-items: center;
          .nav-link{
            color: #fff;
            font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 17px;
            span{
              color: #6892FF;
            }
            .language-detail{
              color: #fff;
            }
          }
        }
      }
  } 
}
.header-main {
/*  position: fixed;*/
  width: 100%;
  z-index: 999;
}
/*.content {
  padding-top: 40px;
}*/