.exchange-world{
	background: #181B3C;
	padding: 40px 0 15px;
	h3{
		font-weight: bold;
		font-size: 28px;
		line-height: 34px;
		text-align: center;
		color: #6892FF;
	}
	p{
		font-style: normal;
		font-weight: 500;
		font-size: 15px;
		line-height: 18px;
		text-align: center;
		color: #FFFFFF;
		margin-bottom: 20px;
	}
	.row{
		margin: 0 -8px;
		.col-exchange-outline{
			padding: 0 8px;
		}
	}
	.col-exchange{
		height: 128px;
		width: 100%;
		padding: 0 20px;
		color: #FFFFFF;
		img{
			max-height: 20px;
		}
		.col-exchange-text-1{
			font-weight: 500;
			font-size: 13px;
			line-height: 16px;
		}
		.col-exchange-text-2{
			font-weight: 600;
			font-size: 24px;
			line-height: 29px;
		}
		.col-exchange-text-3{
			font-weight: 600;
			font-size: 14px;
			line-height: 17px;
		}
		.col-exchange-text-4{
			font-weight: bold;
			font-size: 52px;
			line-height: 63px;
			color:#6892FF;
		}
		.col-exchange-text-5{
			font-style: normal;
			font-weight: 600;
			font-size: 22px;
			line-height: 27px;
			span{
				color: #6892FF;
			}
		}
	}
	.col-exchange-1{
		background: url('./assets/images/exchange-1.png');
		-webkit-background-size: cover;
		   -moz-background-size: cover;
		     -o-background-size: cover;
		        background-size: cover;
		background-position: center right; 
		background-repeat: no-repeat;
		img{
			margin-bottom: 8px;
		}
	}
	.col-exchange-2{
		background: url('./assets/images/exchange-2.png');
		-webkit-background-size: cover;
		   -moz-background-size: cover;
		     -o-background-size: cover;
		        background-size: cover;
		background-position: center right; 
		background-repeat: no-repeat;
	}
	.col-exchange-3{
		background: url('./assets/images/exchange-3.png');
		-webkit-background-size: cover;
		   -moz-background-size: cover;
		     -o-background-size: cover;
		        background-size: cover;
		background-position: center right; 
		background-repeat: no-repeat;
		.col-exchange-text-5{
			margin-bottom: 5px;
		}
		img{
			margin-bottom: 4px;
		}
	}
	.col-exchange-4{
		background: url('./assets/images/exchange-4.png');
		-webkit-background-size: cover;
		   -moz-background-size: cover;
		     -o-background-size: cover;
		        background-size: cover;
		background-position: center right; 
		background-repeat: no-repeat;
		img{
			margin-bottom: 8px;
		}
	}
}
.market-page {
	.exchange-list {
		height: 470px;
	}
}
.information-eth{
	background: #fff;
	.exchange-top-item{
		& > div{
			background: #fff url('./assets/images/chart.png');
			background-position: bottom center; 
			background-repeat: no-repeat;
			padding: 10px;
			font-style: normal;
			font-weight: 500;
			font-size: 13px;
			line-height: 16px;
			border: 1px solid #E0E0E0;
			-webkit-box-sizing: border-box;
			   -moz-box-sizing: border-box;
			        box-sizing: border-box;
			height: 84px;
		    -webkit-background-size: contain;
		       -moz-background-size: contain;
		         -o-background-size: contain;
		            background-size: contain;
		}
		.exchange-top-title{
			font-style: normal;
			font-weight: bold;
			font-size: 13px;
			line-height: 16px;
			color: #333333;
			margin-bottom: 7px;
			span{
				font-style: normal;
				font-weight: 500;
				font-size: 13px;
				line-height: 16px;
			}
			
		}
		.exchange-top-subtitle{
			color: #333333;
			margin-bottom: 7px;
			span{
				font-weight: 600;
			}
		}
		.exchange-top-footertitle{
			color: #828282;
		}
	}
	.row-exchange{
		display: -webkit-box;
		display: -webkit-flex;
		display: -moz-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-webkit-align-items: center;
		   -moz-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		-webkit-flex-wrap: wrap;
		    -ms-flex-wrap: wrap;
		        flex-wrap: wrap;
		.exchange-top-item{
			min-width: 20%;
			max-width: 20%;
		}
	}
	.tabs{
		.nav-tabs{
			border-bottom: 0;
			a{
				font-weight: bold;
				font-size: 13px;
				line-height: 16px;
				text-align: center;
				color: #828282;
				border-top: 1px solid #E0E0E0;
				border-left: 1px solid #E0E0E0;
				background: #F2F2F2;
				width: 138px;
				height: 36px;
				padding: 0;
				display: -webkit-box;
				display: -webkit-flex;
				display: -moz-box;
				display: -ms-flexbox;
				display: flex;
				-webkit-box-align: center;
				-webkit-align-items: center;
				   -moz-box-align: center;
				    -ms-flex-align: center;
				        align-items: center;
				-webkit-box-pack: center;
				-webkit-justify-content: center;
				   -moz-box-pack: center;
				    -ms-flex-pack: center;
				        justify-content: center;
		        border-bottom: 1px solid #E0E0E0;
		        border-radius: 0;
		        border-right: 0;
			}
			li:last-child{
				border-right: 1px solid #E0E0E0;
			}
			.nav-link.active{
				font-style: normal;
				color: #6892FF;
				background: #fff;
				border-bottom: 0;
			}
		}
	}
	.tab-content{
		background: #fff;
		border-right: 1px solid #E0E0E0;
		border-left: 1px solid #E0E0E0;
		border-bottom: 1px solid #E0E0E0;
	}
	.nav-tabs{
		margin-left: 0px;
		.nav-link:focus, .nav-tabs .nav-link:hover{
			font-style: normal;
		    color: #6892FF;
		} 
	}
	table.table{
		width: 100%;
		margin-bottom: 0;
		tr{
			th{
				padding: 10px 20px;
				font-style: normal;
				font-weight: 500;
				font-size: 13px;
				line-height: 16px;
				color: #828282;
				&:nth-child(2){
					padding-left: 0;
				}
			}
			td{
				padding: 10px 20px;
				font-style: normal;
				font-weight: 500;
				font-size: 13px;
				line-height: 16px;
				color: #333333;
				border-top: 1px solid #F2F2F2;
				&:nth-child(2){
					padding-left: 0;
				}
			}
			.stt{
				padding: 10px 10px;
				img {
					max-width: 16px;
				}
			}
			.price{
				color: #828282;
				.down{
					color: #333333!important;
				}
			}
		}
	}
	.btn-arrow{
		background: none;
		border: 0;
		position: relative;
		top: -1px;
		&:focus{
			outline: none;
		}
	}
}
.market-hot {
	background: #fff;
	.exchange-top-item{
		& > div{
			background: #fff url('./assets/images/chart.png');
			background-position: bottom center; 
			background-repeat: no-repeat;
			padding: 10px;
			font-style: normal;
			font-weight: 500;
			font-size: 13px;
			line-height: 16px;
			border: 1px solid #E0E0E0;
			-webkit-box-sizing: border-box;
			   -moz-box-sizing: border-box;
			        box-sizing: border-box;
			height: 84px;
		    -webkit-background-size: contain;
		       -moz-background-size: contain;
		         -o-background-size: contain;
		            background-size: contain;
		}
		.exchange-top-title{
			font-style: normal;
			font-weight: bold;
			font-size: 13px;
			line-height: 16px;
			color: #333333;
			margin-bottom: 7px;
			span{
				font-style: normal;
				font-weight: 500;
				font-size: 13px;
				line-height: 16px;
			}
			
		}
		.exchange-top-subtitle{
			color: #333333;
			margin-bottom: 7px;
			span{
				font-weight: 600;
			}
		}
		.exchange-top-footertitle{
			color: #828282;
		}
	}
	.row-exchange{
		display: -webkit-box;
		display: -webkit-flex;
		display: -moz-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-webkit-align-items: center;
		   -moz-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		-webkit-flex-wrap: wrap;
		    -ms-flex-wrap: wrap;
		        flex-wrap: wrap;
		.exchange-top-item{
			min-width: 20%;
			max-width: 20%;
		}
	}
	.tabs{
		.nav-tabs{
			border-bottom: 0;
			a{
				font-weight: bold;
				font-size: 13px;
				line-height: 16px;
				text-align: center;
				color: #828282;
				border-top: 1px solid #E0E0E0;
				border-left: 1px solid #E0E0E0;
				background: #F2F2F2;
				width: 138px;
				height: 36px;
				padding: 0;
				display: -webkit-box;
				display: -webkit-flex;
				display: -moz-box;
				display: -ms-flexbox;
				display: flex;
				-webkit-box-align: center;
				-webkit-align-items: center;
				   -moz-box-align: center;
				    -ms-flex-align: center;
				        align-items: center;
				-webkit-box-pack: center;
				-webkit-justify-content: center;
				   -moz-box-pack: center;
				    -ms-flex-pack: center;
				        justify-content: center;
		        border-bottom: 1px solid #E0E0E0;
		        border-radius: 0;
		        border-right: 0;
			}
			li:last-child{
				border-right: 1px solid #E0E0E0;
			}
			.nav-link.active{
				font-style: normal;
				color: #6892FF;
				background: #fff;
				border-bottom: 0;
			}
		}
	}
	.tab-content{
		background: #fff;
		border-right: 1px solid #E0E0E0;
		border-left: 1px solid #E0E0E0;
		border-bottom: 1px solid #E0E0E0;
	}
	.nav-tabs{
		margin-left: 0px;
		.nav-link:focus, .nav-tabs .nav-link:hover{
			font-style: normal;
		    color: #6892FF;
		} 
	}
	table.table{
		width: 100%;
		margin-bottom: 0;
		tr{
			th{
				padding: 10px 20px;
				font-style: normal;
				font-weight: 500;
				font-size: 13px;
				line-height: 16px;
				color: #828282;
				&:nth-child(2){
					padding-left: 0;
				}
			}
			td{
				padding: 10px 20px;
				font-style: normal;
				font-weight: 500;
				font-size: 13px;
				line-height: 16px;
				color: #333333;
				border-top: 1px solid #F2F2F2;
				&:nth-child(2){
					padding-left: 0;
				}
			}
			.stt{
				padding: 10px 10px;
				img {
					max-width: 16px;
				}
			}
			.price{
				color: #828282;
				.down{
					color: #333333!important;
				}
			}
		}
	}
	.btn-arrow{
		background: none;
		border: 0;
		position: relative;
		top: -1px;
		&:focus{
			outline: none;
		}
	}
}